:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--light-gray);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 40px 30px;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.main-container > .community-banners, .pricing, .community-info {
  width: 100%;
}

.community-banners {
  background-color: #fff;
}

.community-banners h1 {
  color: var(--cyan);
  font-weight: 700;
  margin: 20px;
  font-size: 1.3em;
}

.community-banners h2 {
  color: var(--bright-yellow);
  font-size: 1em;
  margin: 10px 20px;
}

.community-banners p {
  color: var(--grayish-blue);
  font-size: .9em;
  margin: 20px 20px 25px 20px;
  padding-bottom: 0;
  line-height: 1.5;
}

.pricing {
  background-color: var(--cyan);
}

.pricing__info {
  width: max-content;
  display: flex;
  align-items: center;
}

.pricing h1 {
  font-size: 1.2em;
  color: #fff;
}

.pricing__info h2 {
  margin: 0;
  font-size: 2em;
  color: #fff;
}

.pricing__plan {
  color: var(--light-gray);
  font-weight: 400;
  opacity: .7;
}

.pricing p {
  color: #fff;
  opacity: .8;
}

.pricing__btn-container {
  margin: auto;
  max-width: 350px;
  background-color: var(--bright-yellow);
  border-radius: 5px;
  overflow: hidden;
  transition: opacity .2s ease;
}

.pricing-btn {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  background-color: inherit;
  border: none;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.pricing__btn-container:hover {
  opacity: .8;
}

.pricing-btn:active {
  filter: grayscale(.3);
}

.community-info {
  background-color: var(--cyan);
  opacity: .8;
}

.community-info h1 {
  color: #fff;
  font-size: 1.2em;
}

.info-section {
  margin: 5px 0;
  font-size: .9em;
  color: #fff
}

.pricing__container, .community-info__container {
  padding: 20px;
}

@media screen and (min-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .main-container {
    margin: 0 50px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
  }

  .community-banners {
    grid-column: span 2;
  }

  .pricing, .community-info {
    padding: 0 20px;
    height: 100%;
  }

  
}


.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }